/*Cor de fundo da pagina*/
body {
	background-color: #D0CDCD;
}
/*Ajutando o navbar*/
.navbar {
	position: fixed;
	width: 100%;
}
/*Ajustando o canteiner para abaixar e nao pegar no navbar*/
.abaixar-container {
	padding-top: 80px;
	padding-bottom: 20px;
}
/*Ajustando o card para os funcionarios*/
.card-funcionario {
	box-sizing: border-box;
	width: 210px;
	height: 280px;
	margin: 0.5%;
	border: 1px solid black;
	border-radius: 5px;
}
/*Seguranca de imagem do card*/
.card-imagem {
	background-image: url("../fotos/teste.png");
}
/*Ajuste da imagem do card*/
.imagem-funcionario {
	width: 100%;
	height: 240px;
	background-color: transparent;
	color: black;
	border-radius: 2.5px 2.5px 0px 0px;
}
/*Botao para abrir o modal*/
.botao-funcionario {
	text-align: center;
	background: black;
	border-radius: 0px 0px 2.5px 2.5px;
}
/*botao para abrir o modal*/
.botao-funcionario-btn {
	box-sizing: border-box;
	font-size: 12px;
	color: white;
	font-weight: bold;
	background: black;
	border: transparent;
	width: 100%;
	padding: 10px;
	border-radius: 0px 0px 2.5px 2.5px;
}
/*Hover do botao para abrir o modal*/
.botao-funcionario-btn:hover {
	box-sizing: border-box;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 9.75px;
	background: #B2B0B0;
	color: black;
	border-radius: 0px 0px 2.5px 2.5px;
}
/*Ajustar card*/
.card-deck {
	margin-right: 0px;
	margin-left: 0px;
	align-items: center;
}
/*Padding do header do modal*/
.modal-header {
	padding: 5px;
}
/*Botao de fechar do modal*/
.modal-header > button {
	color: red;
}
/*Ajustando a imagem*/
.modal-body > img {
	width: 200px;
	height: 240px;
	border: 1px solid black;
	border-radius: 15px;
	margin-bottom: 10px;
}
/*Ajustando a cor do text do modal*/
.modal-body > p {
	padding: 0px;
	margin: 2px;
	font-size: 16px;
	text-transform: capitalize;
}
/*Ajuste do tamanho do modal*/
.form-inline .form-control {
	width: 400px;
}
/*Ajuste de tamanho de divs, entre outras pequenas coisas no navbar e cards*/
@media screen and (max-width: 580px) {
	.form-inline .form-control {
		width: 100%;
	}
}
@media screen and (max-width: 580px) {
	.ajuste-botao-pesquisa {
		margin-top: 5px;
		width: 100%;
	}
}
/*Mensagem de erro de nao achado nada*/
.mensagem-erro {
	margin-top: 60px;
	color: red;
	text-shadow: 0.5px 0.5px 0.5px black;
	text-transform: uppercase;
	text-align: center;
	font-size: 32px;
}
